<div class="form-group">
  <label for="<%= id %>"><%= label %></label>
  <input
    type="<%= typeof type !== 'undefined' ? type : 'text' %>"
    id="<%= id %>"
    name="<%= name %>"
    <%= typeof required !== 'undefined' && required ? 'required' : '' %>
    value="<%= typeof value !== 'undefined' ? value : '' %>"
    placeholder="<%= typeof placeholder !== 'undefined' ? placeholder : '' %>"
  >
</div>