<div class="form-group">
  <label for="<%= id %>"><%= label %></label>
  <input
    type="<%= type || 'text' %>"
    id="<%= id %>"
    name="<%= name %>"
    <%= required ? 'required' : '' %>
    value="<%= typeof value !== 'undefined' ? value : '' %>"
    placeholder="<%= placeholder || '' %>"
  >
</div>